<include file="Tpl/PublicHead"/>
	<style>
		section .Honor .container {width:100%;}
		section .Honor h2{padding-bottom: 1em; color: #0eb493; font-weight: bolder; font-size: 2em; padding-left: 15px;}
		.MeinPic h4 {font-size:1.25em; color:#333; text-align:center;}
		.MeinPic p { font-size:.5em; color:#999; text-align:center;}
		.MeinPic a { display:	block;}
		.MeinPic .box {position:relative; margin:0 auto; overflow:hidden; display:block; width:97%; margin-bottom: 1em;}
		.MeinPic .box .mask { position:absolute;top:-100%;left:0; background:#0eb493; width:100%;height:100%; opacity:.8;transition:all ease-out .5s;-webkit-transition:all ease-out .5s;-moz-transition:all ease-out .5s;-ms-transition:all ease-out .5s;-o-transition:all ease-out .5s;}
		.MeinPic .box:hover .mask{top:0; }
		.MeinPic .box img {width:100%;}
		.MeinPic .box .mask p{ color:#fff;line-height:12px;}
		.MeinPic .box .mask .MaskText {padding-top:30%;}

		.navComm {background: #333;}
		.navComm ul li { text-align: center; }
		.navComm ul li a{ display: inline-block; border-bottom: 2px solid #333; margin-bottom: 0; }
		.navComm ul li .ThisActive { border-bottom: 2px solid #0eb493; color: #fff; }
		/*分页*/
		.pagination>.active>a { background: #0eb493;border: 1px solid #0eb493; }
		.pagination>.active>a:hover { background: #0eb493;border: 1px solid #0eb493; }
	</style>
	<div class="breadNav">
		<ol class="breadcrumb">
			<li>当前位置：</li>
			<li><a href="__APP__">主页</a></li>
			<li><a href="{:U('About/index')}">关于我们</a></li>
			<li class="active">天朔风采</li>
		</ol>
	</div>
	<section>
		<div class="navComm">
			<ul class="container clearfix">
				<li class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
					<a href="{:U('About/index')}">简介</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
					<a href="{:U('About/honor')}">荣誉</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
					<a href="{:U('About/culture')}">文化</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
					<a href="{:U('About/develop')}">发展</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
					<a class="ThisActive" href="{:U('About/mien')}">风采</a>
				</li>
			</ul>
		</div>
		<div class="container Honor clearfix">
			<h2>企业风采</h2>
			<div class="container">
		    <div class="row MeinPic">
					<div class="col-md-3 col-sm-6 col-xs-6">
						<a class="box" href="javascript:;">
							<div class="mask">
								<div class="MaskText">
									<p>时间：2017-03-15</p>
									<p>来源：天朔集团</p>
									<p>作者：天朔集团</p>
									<p>点击：200次</p>
								</div>
							</div>
							<img src="{:C('UPLOAD_SAVAPATH')}Test/QiYeFengCai.jpg" alt="天朔电动汽车厂景" title="天朔电动汽车厂景" />
						</a>
						<h4>汽车厂景</h4>
						<p>天朔集团企业内部厂景展示</p>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<a class="box" href="javascript:;">
							<div class="mask">
								<div class="MaskText">
									<p>时间：2017-03-15</p>
									<p>来源：天朔集团</p>
									<p>作者：天朔集团</p>
									<p>点击：200次</p>
								</div>
							</div>
							<img src="{:C('UPLOAD_SAVAPATH')}Test/YuanGongYiJiao.jpg" alt="天朔员工一角" title="天朔员工一角" />
						</a>
						<h4>员工一角</h4>
						<p>天朔集团企业员工一角</p>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6" style="float:right;">
						<a class="box" href="javascript:;">
							<div class="mask">
								<div class="MaskText">
									<p>时间：2017-03-15</p>
									<p>来源：天朔集团</p>
									<p>作者：天朔集团</p>
									<p>点击：200次</p>
								</div>
							</div>
							<img src="{:C('UPLOAD_SAVAPATH')}Test/CheJianHuanJing.jpg" alt="车间环境" title="车间环境" />
						</a>
						<h4>车间环境</h4>
						<p>天朔集团车间环境展示</p>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div>
						<a class="box" href="javascript:;">
							<div class="mask">
								<div class="MaskText">
									<p>时间：2017-03-15</p>
									<p>来源：天朔集团</p>
									<p>作者：天朔集团</p>
									<p>点击：200次</p>
								</div>
							</div>
							<img src="{:C('UPLOAD_SAVAPATH')}Test/JiShuQianYan.jpg" alt="技术前沿" title="技术前沿" />
						</a>
						<h4>技术前沿</h4>
						<p>天朔集团技术前沿</p>
						</div>
					</div>
				</div>
			</div>
			<!--分页-->
			<nav>
			  <ul class="pagination">
			    <li class="disabled">
			    	<a href="javascript:;" aria-label="Previous">
			    		<span aria-hidden="true">&laquo;</span>
			    	</a>
			    </li>
			    <li class="active">
			    	<a href="javascript:;">1</a>
			    </li>
			    <li>
			    	<a href="javascript:;">2</a>
			    </li>
			    <li>
			    	<a href="javascript:;">3</a>
			    </li>
			    <li>
			      <a href="javascript:;" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
		</div>
	</section>
<include file="Tpl/PublicFoot"/>