<include file="Tpl/PublicImallHead" />
	<style>
		.orderCase{ margin-top:1em; }
		.orderCase h1{ line-height:2em; font-size:2em; color:#0EB493; border-bottom:1px solid #0EB493; }
		.postTitle{ font-size:1.125em; font-size:bold; color:#0EB493; margin-top:1em;}
		.goodItem{ margin-top:1em; background:#DFEEEB; padding:.5em 1em; }
		.totalIntergral{ border-top:1px solid #0EB493; line-height:3em;font-size:1.25em; color:#FF6664; margin-top:1em; }
		.goodItem span { color: #FF6664; font-weight: bold; }
	</style>
<div class="orderCase container">
	<h1>我的订单</h1>
	<form action="__APP__/Imall/createOrder/id/{$orderId}" method="post">
		<input type="text" class="goodsJson" name="goodsJson" value='{$jsonData}' title="" hidden />
		<ul class="clearfix">
			<li class="postTitle">收货信息</li>
			<if condition="empty($addressList)">
				<a href="{:U('Imall/addAddress')}">地址为空，请添加收货地址 <br /></a>
			<else />
				<volist name="addressList" id="vItem">
					<li>
						<div class="goodItem rds5">
							<p style="margin-top:1em;"><input type="radio" name="address_id" value="{$vItem.id}" <if condition="$vItem['default_address'] eq 1">checked="checked"</if> />
								收货人:{$vItem.realname} {$vItem.tel} 邮编:{$vItem.zipcode}
							</p>
							<p>
								{$vItem.province} {$vItem.city} {$vItem.country} {$vItem.address}
							</p>
							<p>
								<a href="__APP__/Imall/editAddress/id/{$vItem.id}">编辑地址</a>

								<!--a href="__APP__/Imall/deleteAddress/id/{$vItem.id}">删除地址</a-->
								<if condition="$vItem.default_address eq 1">
									<span class="iptBtn rds5" style="color:#fff; padding: .1em;">默认地址</span>
									<else />
									<a href="__APP__/Imall/setDefaultAddress/id/{$vItem.id}">设为默认地址</a>
								</if>
							</p>
						</div>
					</li>
				</volist>
				<style type="text/css">
					.newAddress {color:#fff; padding: .4em; display: inline-block;margin-top: .6em; background: #FF6664; border:1px solid #FF6664}
				</style>
				<a class="iptBtn rds5 newAddress" style="color: #fff;" href="{:U('Imall/addAddress')}">使用新地址</a>
			</if>
			<li class="postTitle">商品列表</li>
			<if condition="$cartList.sum lt 1">
				<a href="{:U(Imall/index)}">购物车为空，请选购商品</a>
				<else />
				<?php
					$totalamount = 0;
				?>
				<volist name="cartList.items" id="cvo">
					<li>
						<div class="goodItem rds5">
							<p>商品编码：{$cvo.goods_code}
							<p>{$cvo.goods_name}：<span> x {$cvo.num}</span> 件
							<p>总积分：{$cvo.total_price}&nbsp;BV
							<!--<a href="__APP__/Imall/deleteCart/id/{$cvo.id}" onclick="if(confirm('确定删除?')==false){ return false; }">删除</a>-->
							</p>
						</div>
					</li>
					<?php
						$totalamount += $cvo['total_price'];
					?>
				</volist>
			</if>
		</ul>
		<div class="totalIntergral col-lg-12" >总积分：{$totalamount}&nbsp;BV</div>
		<div class="col-lg-12" style="text-align:right">
			<!--a href="__APP__/Imall/cleanCart/">清空购物车</a-->
			<input class="iptBtn rds5" type="submit" value="支付订单" style="padding:.4em"; />
		</div>
	</form>
</div>
<include file="Tpl/PublicFoot" />