<include file="Tpl/PublicMemIndex"/>
<style>
	.familyTree{ margin-top:2em; }
	.familyTree ul li { margin: .2em 0; }
	.pageTitle{ line-height:2em; color:#1ea78d; font-size:1.25em; margin-top:2em; }
	.flatSelect{ border:1px solid #ddd; overflow:hidden; font-size:.875em; }
	.flatSelect select{padding: .5em 1em;border: 1px solid #0eb493;}
	.listTable{ margin:1em auto; }
	.listTable tr th { height:2em; text-align:center; background:#1ea78d; border: 1px solid #fff; color: #fff; }
	.listTable tr td{ border:1px solid #ddd; font-size:.875em; line-height:2em; text-align:center;}
	.iptText{ padding: .4em .6em; }
	.iptBtn { padding: .4em 1.5em; }
	@media screen and (max-width: 425px) {
		.flatSelect select { margin: .5em 0; }
		.CenterPhone { text-align: center; }
	}
	table tr th {
		background-color: rgb(76, 140, 43);
		border: 1px solid #DDD;
		color: #FFF;
	}
	/*下属的积分历史-分页样式*/
	.prev,.num,.next,.current {border: 1px solid #1ea78d; width: 30px;height: 30px; line-height: 30px; }
	.current { background: #1ea78d; border: 1px solid #1ea78d; padding-left: .2em;}
</style>
<include file="Tpl/PublicMemMenu"/>
<section class="container clearfix">
	<h1 class="pageTitle">我的积分历史</h1>

	<div class="wrapper center">
		<ul>
			<li>
				<div class="table-responsive">
					<table class="row listTable table-hover table">
						<thead>
							<tr>
								<th class="sorting_desc" tabindex="0" aria-controls="datatable-generation-tree-report" rowspan="1" colspan="1" style="width: 272px;" aria-label="会员编号" aria-sort="descending">会员编号</th>
								<th class="sorting_desc" tabindex="0" aria-controls="datatable-generation-tree-report" rowspan="1" colspan="1" style="width: 272px;" aria-label="状态" aria-sort="descending">积分类型</th>
								<th class="sorting_desc" tabindex="0" aria-controls="datatable-generation-tree-report" rowspan="1" colspan="1" style="width: 272px;" aria-label="订单日期" aria-sort="descending">变更时间</th>
								<th class="sorting_desc" tabindex="0" aria-controls="datatable-generation-tree-report" rowspan="1" colspan="1" style="width: 272px;" aria-label="消费积分" aria-sort="descending">积分变化</th>
							</tr>
						</thead>
						<tbody>
							<volist name="currentPointList" id="al">
								<tr>
									<td>{$al.msn}</td>
									<td>{$al.change_type|getPointType}</td>
									<td>{$al.addtime|date="Y-m-d H:i:s",###}</td>
									<td>
										<if condition="($al.op_type eq 1)"> +
										<else /> -
										</if>{$al.change_point}&nbsp;BV</td>
								</tr>
							</volist>
						</tbody>
					</table>
				</div>
			</li>
		</ul>
		<!--<p>{$paginate}</p>
	-->
</div>

<h1 class="pageTitle">下属的积分历史</h1>
<div class="familyTree">
	<ul class="row">
		<form action="/Member/pointList" method="post">
			<li class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
				<label>会员编号：</label>
				<input class="iptText rds5" type="text" name="mid" value="{$mid}" />
			</li>
			<li class="col-lg-3 col-xs-12 col-sm-3 col-md-3">
				<label>会员姓名：</label>
				<input class="iptText rds5" type="text" name="nickname" value="{$nickname}"></li>
			<li class="col-lg-2 col-xs-12 col-sm-2 col-md-2">
				<label></label>
				<span class="flatSelect">
					<select  data-criteria="equal" name="level"  class="rds5">
						<option value="0">会员等级</option>
						<option value="1"  <if condition="$level eq 1">selected="selected"</if>
						>第一代
					</option>
					<option value="2"  <if condition="$level eq 2">selected="selected"</if>
					>第二代
				</option>
				<option value="3"  <if condition="$level eq 3">selected="selected"</if>
				>第三代
			</option>
		</select>
	</span>
</li>
<li class="col-lg-2 col-xs-12 col-sm-2 col-md-2 CenterPhone">
	<label></label>
	<input class="iptBtn rds5" type="submit" value="提交"></li>
</form>
</ul>

<div class="table-responsive">
<table class="row listTable table-hover table">
<thead>
	<tr>
		<th class="sorting_desc hidden-xs" tabindex="0" aria-controls="datatable-generation-tree-report" rowspan="1" colspan="1" aria-label="会员编号" aria-sort="descending">会员编号</th>
		<th class="sorting_desc" tabindex="0" aria-controls="datatable-generation-tree-report" rowspan="1" colspan="1" aria-label="会员姓名" aria-sort="descending">会员等级</th>
		<th class="sorting_desc" tabindex="0" aria-controls="datatable-generation-tree-report" rowspan="1" colspan="1" aria-label="会员姓名" aria-sort="descending">积分余额</th>
		<th class="sorting_desc" tabindex="0" aria-controls="datatable-generation-tree-report" rowspan="1" colspan="1" aria-label="会员姓名" aria-sort="descending">定向积分余额</th>
		<th class="sorting_desc" tabindex="0" aria-controls="datatable-generation-tree-report" rowspan="1" colspan="1" aria-label="直荐会员" aria-sort="descending">操作</th>
	</tr>
</thead>
<volist name="selectArray" id="al">
	<tr>
		<td class="hidden-xs">
			<a href="__APP__/Member/view/msn/{$al.msn}">{$al.msn}</a>
		</td>
		<td>{$al.level|getLevel}</td>
		<td>{$al.leave_score}&nbsp;BV</td>
		<td>{$al.leave_orient_score}&nbsp;BV</td>
		<td>
			<a href="__APP__/Member/pointInfo/msn/{$al.msn}">查看详情</a>
		</td>
	</tr>
</volist>
<volist name="arrayData" id="al">
	<tr>
		<if condition="($al['family'] eq 1)">
			<td class="hidden-xs">{$al.msn}</td>
			<td>第一代</td>
			<td>{$al.leave_score}&nbsp;BV</td>
			<td>{$al.leave_orient_score}&nbsp;BV</td>
			<td>
				<a href="__APP__/Member/pointInfo/msn/{$al.msn}">查看详情</a>
			</td>
		</if>
	</tr>
</volist>
<volist name="arrayData" id="al">
	<tr>
		<if condition="($al['family'] eq 2)">
			<td class="hidden-xs">{$al.msn}</td>
			<td>第二代</td>
			<td>{$al.leave_score}&nbsp;BV</td>
			<td>{$al.leave_orient_score}&nbsp;BV</td>
			<td>
				<a href="__APP__/Member/pointInfo/msn/{$al.msn}">查看详情</a>
			</td>
		</if>
	</tr>
</volist>
<volist name="arrayData" id="al">
	<tr>
		<if condition="($al['family'] eq 3)">
			<td class="hidden-xs">{$al.msn}</td>
			<td>第三代</td>
			<td>{$al.leave_score}&nbsp;BV</td>
			<td>{$al.leave_orient_score}&nbsp;BV</td>
			<td>
				<a href="__APP__/Member/pointInfo/msn/{$al.msn}">查看详情</a>
			</td>
		</if>
	</tr>
</volist>
</table>
</div>
{$page}
</div>
</section>
<include file="Tpl/PublicFoot"/>