<include file="Tpl/PublicHead"/>
	<style>
		.login{ height:600px; background:url(__PUBLIC__/Images/Tweb/loginBg.jpg) no-repeat 10%; background-size:100% 600px; }
		.loginForm{ background:#fff; border-top:4px solid #0eb493; }
		.loginForm h1{ font-size:.875em; padding:1em 0 1em 0; color:#0eb493; border-bottom:1px solid #ddd; }
		.loginForm h1 span{ float:right; color:#333; }

		.iptTxt{ border:1px solid #ddd; text-indent:.5em; height:30px; }
		.iptBtn{ width:95%; height:36px; color:#fff; font-size:1.125em; margin-left:5%; background:#0eb493; border:1px solid #0eb493; }
		form{ padding-bottom:1.5em; }
		form ul li{ margin-top:1em; }
		form ul li img{ float:right; }
		form ul li .iptTxt{ width:100%; }

		@media screen and (min-width: 768px) {
			.loginForm{ width:360px; float:right; margin:5em 3em 0 0;}
		}

		@media screen and (max-width: 414px) {
			.login{ height:400px; background:#fff; margin-top:2em;}
		}
	</style>
	<section class="clearfix">
		<div class="login">
			<div class="container loginForm">
				<h1>登录 <span>没有帐号？<a href="{:U('Public/register')}">去注册</a></span></h1>
				<form action="{:U('Public/login')}" method="post">
					<ul class="row">
						<li class="col-lg-12 col-xs-12">
							<span class="col-lg-4 col-xs-4">用户名：</span>
							<span class="col-lg-8 col-xs-8"><input class="iptTxt rds5" type="text" name="login_number" placeholder="手机号码/用户编号" /></span>
						</li>
						<li class="col-lg-12 col-xs-12">
							<span class="col-lg-4 col-xs-4">密&nbsp;&nbsp;&nbsp;码：</span>
							<span class="col-lg-8 col-xs-8"><input class="iptTxt rds5" type="password" name="pwd" /></span>
						</li>
						<li class="col-lg-12 col-xs-12">
							<span class="col-lg-4 col-xs-4">验证码：</span>
							<span class="col-lg-4 col-xs-4"><input class="iptTxt rds5" type="text" name="tcode" /></span>
							<span class="col-lg-4 col-xs-4"><img id="imgcode" class="rds5" src="{:U('Public/webVerify')}" onclick="change_code()" alt="" /></span>
						</li>
						<li class="col-lg-12 col-xs-12">
							<input class="iptBtn rds5" type="submit" value="登录" />
						</li>
					</ul>
				</form>
			</div>
		</div>
	</section>
	<script>
		function change_code(){
			$("#imgcode").attr('src',"{:U('Public/webVerify')}")
		}
	</script>
<include file="Tpl/PublicFoot"/>