<include file="Tpl/PublicHead"/>
	<style>
		p{line-height:1.8em;}
		section .serviceIdea{ padding-top: 4em; padding-bottom: 3em; margin: 0 auto;}
		section .serviceIdea li{}
		section .serviceIdea .mTitle{height: 50px; border-bottom: 1px solid #9a9a9a;}
		section .serviceIdea .mTitle > span{color: #0eb493; font-size: 2.25em; display: block; float: left;}
		section .serviceIdea .mTitle > div{float: left; padding-left: 5px;}
		section .serviceIdea .mTitle > div > span:first-child{margin-top: 6px; color: #0eb493; display: block; font-size: 1em;}
		section .serviceIdea .mTitle > div > span:last-child{position: relative; top: 0px; color: #a1a1a1; font-size: .75em; line-height: .75em;}
		section .serviceIdea .mCon{padding-top: 15px;}
		section .serviceIdea .mCon p{font-size: .75em;  color: #666; }
		section .serviceIdea .mCon p span{background: #666; width: 4px; height: 4px; display: block; float: left; margin: 7px 0 0 -8px;}
		section .FirmMore{padding-left: 15px; margin-top:3em;}
		section .FirmMore h2{font-size: 2em; color: #0eb493; font-weight: bolder;}
		section .FirmMore p{font-size: .75em; color: #999;}
		.navComm {background: #333;}
		.navComm ul li { text-align: center; }
		.navComm ul li a{ display: inline-block; border-bottom: 2px solid #333; margin-bottom: 0; }
		.navComm ul li .ThisActive { border-bottom: 2px solid #0eb493; color: #fff; }
		/*服务流程 暂未开通弹出层 样式*/
		.modal-header .close { margin-top: -.4em; }
		.modal-body { font: 1em;color: #666; text-align: center; }
	</style>
	<div class="breadNav">
		<ol class="breadcrumb">
			<li>当前位置：</li>
			<li><a href="__APP__">主页</a></li>
			<li class="active">版权声明</li>
		</ol>
	</div>
	<section>
		<!--服务流程 暂未开通弹出层-->
		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		  <div class="modal-dialog modal-sm" role="document" style="padding-top:4em;">
		    <div class="modal-content">
		    	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		      </div>
		      <div class="modal-body">
		        暂未开通
		      </div>
		    </div>
		  </div>
		</div>

		<div class="container clearfix serviceIdea">
			<ul class="row clearfix">
					<li class="col-md-4 col-sm-6">
						<div class="mTitle">
							<span>01</span>
							<div>
								<span>版权声明</span>
								<span>Market</span>
							</div>
						</div>
						<div class="mCon">
							<p><span class="rds50"></span>版权声明</p>
						</div>
					</li>
				</ul>
		</div>
	</section>
	
<include file="Tpl/PublicFoot"/>