<include file="Tpl/PublicMemIndex"/>
<link rel="stylesheet" href="__PUBLIC__/Plugin/Validform/Validform.css" />
<script src="__PUBLIC__/Plugin/Validform/Validform_5.3.2_min.js"></script>

<style>

	.form-group{ line-height: 36px;}
	.form-group .item-label{text-align: right;}
	.item-text{ text-indent:.5em;border: 1px solid #ccc;overflow: hidden;}
	.item-select{float: left;height: 34px;border: 1px solid #ccc;margin-left: 10px;font-size: 14px;padding: 6px 0px;}
	.item-submit{border:0; background:#1ea78d; color:#fff; }
	input.error{border: 1px solid #E6594E;}
	input.highlight{border: 1px solid #7abd54;}

	#regForm{ padding-bottom:2em;}
	.row legend{ line-height:2em; font-size:1.125em; color:#1ea78d; margin-top:2em; }
	.item-submit{ width:60%; margin:0 0 2em 17%; line-height:2em; padding: .4em 0; }
</style>
<include file="Tpl/PublicMemMenu"/>
<section class="container">
	<form action="{:U('Award/bank')}" method="post" id="regForm" class="AddUserForm">
		<fieldset class="row col-lg-12">
			<legend>添加银行卡信息</legend>
			<!--开户名-->
			<div class="form-group clearfix">
		    <label for="account_name" class="item-label col-sm-2 control-label">开户名:</label>
		    <div class="col-sm-8">
		      <input type="text" id="account_name" name="account_name" class="form-control" value="" placeholder="开户名" autocomplete="off" datatype="s"  />
		    </div>
		  </div>
		  <!--卡号-->
		  <div class="form-group clearfix">
		    <label for="card_number" class="item-label col-sm-2 control-label">卡号:</label>
		    <div class="col-sm-8">
		      <input type="text" id="card_number" name="card_number"   value="" class="form-control" placeholder="卡号" autocomplete="off" datatype="s"  />
		    </div>
		  </div>
		   <!--开户行-->
		  <div class="form-group clearfix">
		    <label for="bank_account" class="item-label col-sm-2 control-label">开户行:</label>
		    <div class="col-sm-8">
		      <input type="text" id="bank_account" name="bank_account"   value="" class="form-control" placeholder="开户行" autocomplete="off"  datatype="s"  />
		    </div>
		  </div>
		  <!--开户支行-->
		  <div class="form-group clearfix">
		    <label for="branch_account" class="item-label col-sm-2 control-label">开户支行:</label>
		    <div class="col-sm-8">
		      <input type="text" id="branch_account" name="branch_account"   value="" class="form-control" placeholder="开户支行" autocomplete="off" datatype="s"   />
		    </div>
		  </div>
		  <!--提交按钮-->
		   <div class="form-group">
		   		<input type="hidden" value="{$amount}" name='amount'>
		   		<input type="hidden" value="{$flag}" name='flag'>
				<input type="submit" value="提交" class="item-submit rds5 userAdd" />
			</div>
		</fieldset>
	</form>
</section>
<script>
	$(function(){
		$(".AddUserForm").Validform({
			 btnSubmit:".userAdd",
		});
	});
</script>
<include file="Tpl/PublicFoot" />