<include file="Tpl/publicHeader" />
<!-- content start -->
<div class="admin-content">
  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">分类管理</strong> / <small>修改分类</small></div>
  </div>
  <form action="{:U('Category/edit')}" method="post">
  <input type="hidden" name="id" value="{$cateinfo.id}">
  <table id="add">
    <tr>
      <td>　分类名称：</td>
      <td><input type="text" name="title" value="{$cateinfo.title}"></td>
    </tr>
    <tr>
      <td>　父级分类：</td>
      <td>
        <select name="pid" id="">
          <volist name="cates" id="cate">
            <option value="{$cate.id}">{$cate.level|str_repeat="&nbsp;&nbsp;&nbsp;&nbsp;",###}{$cate.title}</option> 
          </volist>
        </select>
      </td>
    </tr>
    <tr>
      <td>　分类描述：</td>
      <td><input type="text" name="intr" value="{$cateinfo.intr}"></td>
    </tr>
    <tr>
      <td>　　　排序：</td>
      <td><input type="text" name="ord" value="{$cateinfo.ord}"></td>
    </tr>
    
   <tr>
      <td>　　　状态：</td>
      <td>
          <select name="sta" id="">
            <option value="1">正常</option>
            <option value="2">异常</option>
            <option value="3">封禁</option>
          </select>
      </td>
   </tr>
    <tr>
      <td colspan="2"><input type="submit" value="确定修改"></td>
    </tr>
  </table>
  </form>
</div>
<include file="Tpl/publicFooter" />
<script>
$("select[name=pid]").val({$cateinfo.pid})
$("select[name=sta]").val({$cateinfo.sta})

</script>