<include file="Tpl/publicHeader" />
<!-- content start -->
<script>
function formuser()
{
	if(document.user.old_pwd.value == '')
	{
		alert('原密码不能为空！');
		document.user.old_pwd.focus();
		return false;
	}

	if(document.user.password.value == '')
	{
		alert('请输入新密码！');
		document.user.password.focus();
		return false;
	}
	
	if(document.user.password.value != document.user.password2.value)
	{
		alert('两次新密码不一致！');
		document.user.password2.focus();
		return false;
	}

	if(document.user.verify.value == '')
	{
		alert('请输入验证码！');
		document.user.verify.focus();
		return false;
	}
}

function change_code()
{
  $("#verify").attr('src','{:U("login/verify")}?' + Math.random() + '');
}

</script>
<div class="admin-content">
  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户</strong> / <small>修改密码</small></div>
  </div>
  <form name="user" action="{:U('login/editpwd')}" method="post" onsubmit="return formuser();">
  <table id="add">
    <tr>
      <td width="90" align="right">原密码：</td>
      <td><input type="password" name="old_pwd"></td>
    </tr>
    <tr>
      <td width="90" align="right">新密码：</td>
      <td><input type="password" name="password"></td>
    </tr>
    <tr>
      <td width="90" align="right">确认新密码：</td>
      <td><input type="password" name="password2"></td>
    </tr>
    <tr>
    	<td width="90" align="right">验证码：</td>
    	<td><input type="text" name="verify" size="8">　<img id="verify" onclick="change_code();" src="{:U('login/verify')}" style=" margin-top: 2px;"></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="确定修改"></td>
    </tr>
  </table>
  </form>
</div>
<include file="Tpl/publicFooter" />