<include file="Tpl/publicHeader" />
<!-- content start -->
<div class="admin-content">
	<div class="am-cf am-padding">
		<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">入口管理</strong> / <small>添加入口</small></div>
	</div>
	<form action="{:U('Entry/updateEntry')}" method="post">
		<table id="add">
			<tr>
				<td>入口英文名称：</td>
				<td><input type="text" name="en_name" value="{$entryInfo.en_name}"></td>
			</tr>
			<tr>
				<td>入口中文名称：</td>
				<td><input type="text" name="name" value="{$entryInfo.name}"></td>
			</tr>
			<tr>
				<td>入口描述：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><input type="text" name="description" value="{$entryInfo.description}"></td>
			</tr>
			<tr>
				<td>是否开放：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td>
					<if condition="$entryInfo.status eq 1">
					<input type="radio" name="status" value="1" checked="checked">是&nbsp;&nbsp;&nbsp;
					<input type="radio" name="status" value="0">否
						<else />
						<input type="radio" name="status" value="1">是&nbsp;&nbsp;&nbsp;
						<input type="radio" name="status" value="0" checked="checked">否
					</if>
					<input type="hidden" name="id" value="{$entryInfo.id}">
				</td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="确定修改"></td>
			</tr>
		</table>
	</form>
</div>
<include file="Tpl/publicFooter" />