<include file="Tpl/PublicHead"/>
<script src="__PUBLIC__/Script/jquery.ld.js"></script>
<script src="__PUBLIC__/Script/Validation.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Style/layout.css"/>
<link rel="stylesheet" href="__PUBLIC__/Style/scrvicesIndex.css"/>
<section class="container">
    <!--位置导航-->
    <div class="pandectStrip fs12 color999">
        <span>当前位置：</span><a href="">主页 </a> <span> > </span> <a href=""> 预约试驾</a>
    </div>
    <div>
        <h1 class="tac fs28 colorlan mt50">预约试驾</h1>
        <div class="line"></div>
        <div class="jjA">○</div>
        <p class="fs14 tac mt20 mb95 minmb30" style="color: #062033">请留下您的联系方式，我们会在24小时内与您回复!</p>
        <form action="{:U('Services/save')}" method="post" class="form">
            <div class="pr">
                <label class="minname"><span class="colorh" for="name">*</span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 名：</label>
                <input class="minpint" name="name" id="name" type="text" placeholder="请输入您的姓名">
                <div class="min"></div>
                <label class="ml20 minml0 minname"><span class="colorh" for="tel">*</span>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 话：</label>
                <input name="tel" id="tel" type="text" placeholder="请输入您的电话">
            </div>
            <div class="mt35 minmt20 pr">
                <label class="minname"><span class="colorh" for="car">*</span>试驾车型：</label>
                <input name="car" id="car" value="{$data.goods_name}" type="text" placeholder="请输入您的试驾车型">
                <div class="min"></div>
                <label class="ml20 minml0 minname"><span class="colorh" for="Wdate">*</span>预约时间：</label>
                <input name="Wdate" id="Wdate" class="Wdate" placeholder="请选择预约时间" onClick="WdatePicker({el:$dp.$('appointmentTime'),dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'%y-%M-{%d+1} %H:%m:%s'})" type="text">
            </div>


            <div class="mt35 minmt20 pr">
                <label class="minname1"><span class="colorh" for="tiy">*</span>试驾城市：<span class="colorh">*</span>省：</label>

                <input type="hidden" name="province_name" id="province_name" />
                <select name="tiy" id="tiy"  class="ld-select-1">
                    <option value="0">请选择您试驾所在省</option>

                </select>
                <div class="min"></div>
                <label class="ml20 minml0 mintiy1 minname2"><span class="colorh" for="tiy1">*</span>市：</label>
                <input type="hidden" name="city_name" id="city_name" />
                <select name="tiy1" id="tiy1"  class="ld-select-1">
                    <option value="0">市辖区</option>

                </select>
            </div>
            <div class="mt35 minmt20 pr">
                    <div class="fl">
                        <label class="minname"><span class="colorh" for="s6">*</span>6s店：</label>
                        <input type="hidden" name="s6_name" id="s6_name">
                        <select name="s6" id="s6"></select>
                    </div>
                <div class="fl w400">
                    <label class="ml25 minml0 db" id="telphone"></label>
                    <label class="ml25 minml0 db" id="address"></label>
                </div>
                <div class="cb"></div>
            </div>
            <button class="btn2" type="submit">提交</button>
        </form>
    </div>
    <div id="map"></div>
</section>
<script src="../../../../Public/Plugin/Validform/Validform_5.3.2_min.js"></script>
<script src="../../../../Public/Plugin/City/js/jquery.cityselect.js"></script>

<!--底部导航-->
<footer>
    <div class="container">
        <div class="row clearfix hidden-xs" style="margin-top:3em;">
            <div class="col-md-3 FirmLogo">
                <a href="{:U('Index/index')}">
                    <img src="../../../../Public/Images/Tweb/logo_write.png" alt="天朔集团LOGO" title="天朔集团LOGO"/>
                </a>
            </div>

            <div class="col-md-7 FirmBottom clearfix">
                <ul>
                    <li class="col-lg-2 col-sm-2"><a href="../../../../index.php">网站首页</a></li>
                    <li class="col-lg-2 col-sm-2"><a href="{:U('Contact/contact')}">联系我们</a></li>
                    <li class="col-lg-2 col-sm-2"><a href="{:U('Contact/secret')}">隐私条款</a></li>
                    <li class="col-lg-2 col-sm-2"><a href="{:U('Contact/copyright')}">版权声明</a></li>
                </ul>
                <div class="FirmCall">
                    <ol class="clearfix">
                        <li class="col-lg-2 col-sm-2">
                            <span>联系我们：</span>
                        </li>
                        <li class="col-lg-4 col-sm-4">
                            <a href="javascript:;">010-53322763</a>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="col-md-2 clearfix AttenTion">
                <p><img src="../../../../Public/Images/Tweb/attention2.png" alt="天朔集团-微信二维码" title="天朔集团-微信二维码"/>微信关注
                </p>
            </div>
        </div>
    </div>

    <div class="FirmCopy clearfix">
        <p>Copyright &copy; <span>2016-2018</span> 天朔集团 版权所有 <span class="hidden-xs">ICP备案号：晋ICP备13008414号-3</span></p>
    </div>
    <!--回到顶部-->
    <link rel="stylesheet" href="../../../../Public/Plugin/BackTop/backtop.css"/>
    <div class="go-top dn" id="go-top">
        <a href="javascript:;" class="go rds5"></a>
    </div>
    <script src="../../../../Public/Plugin/BackTop/backTop.js"></script>
    <script src="../../../../Public/Script/My97DatePicker/WdatePicker.js"></script>
</footer>
<!--<script src="http://api.map.baidu.com/api?v=1.4" type="text/javascript"></script>-->
<script src="http://api.map.baidu.com/api?v=2.0&ak=r2fnSnriC3j8qrCrmnEVswzdsGGaCswn" type="text/javascript"></script>

<script type="text/javascript">
    var services;
    var mp;
    //<!--表单验证-->
    $(document).ready(function() {




        $(".ld-select-1").bind('change',function(){
            var obj = $(this);
            var text = $(this).find("option:selected").text();
            console.log(obj.attr('name'));
            if(obj.attr('name') == 'tiy'){
                $('#province_name').val(text);
            }else{
                $('#city_name').val(text);
            }
        })
        var $ld =$(".ld-select-1").ld({ajaxOptions : {"url" : "/services/getAreas"},
            field : {
                region_id : "area_id",
                region_name : "area_name",
                parent_id : "pid"
            }
        });
        $('#s6').bind('change',function(){
            var selected = $(this).val();
            $.each(services,function(index,val){
                if(val.id== selected){
                    $('#telphone').text("联系电话　　"+val.contact_phone);
                    $('#address').text("详细地址　　"+val.addr);
                    $('#s6_name').val(val.name);
                    return;
                }
            });
        });
        $ld.eq(1).bind("change",function(){
            var id = $(this).val();
            var city = $(this).find("option:selected").text();;
            if(id){
                $.getJSON('/services/getServices',{id:id},function(data){
                    services = data;
                    var tpl =  '<option value="0">请选择您试驾的6s店</option>';
                    $.each(data,function(index,val){
                        tpl+="<option value='"+val.id+"'>"+val.name+"</option>";
                    });
                    $('#s6').empty();
                    $('#s6').append(tpl);
                    loadMap(city,data);
                });
            }
        });

        // 表单验证
        $(".form").validate({
            rules: {

                name: {
                    required: true
                },
                tel: {
                    required: true
                },
                Wdate:{
                    required: true
                },
                s6:{
                    min:1
                },
                tiy:{
                    min:1
                },
                tiy1:{
                    min:1
                },
                car:{
                    required: true
                }
            },
            messages:{
                name: {
                    required: '必填'
                },
                tel: {
                    required:  '必填'
                },
                Wdate:{
                    required:  '必填'
                },
                s6:{
                    min: '必选'
                },
                tiy:{
                    min: '必选'
                },
                tiy1:{
                    min: '必选'
                },
                car:{
                    required:  '必填'
                }
            }
        });

    });
    function loadMap(city,data){


        mp.centerAndZoom(city, 11);
        // 编写自定义函数,创建标注
        function addMarker(point,o){
            var marker = new BMap.Marker(point);
            var label = new BMap.Label(o.name,{offset:new BMap.Size(-10,25)});
            marker.setLabel(label);
            mp.addOverlay(marker);
        }
        // 随机向地图添加25个标注
        var bounds = mp.getBounds();
        var sw = bounds.getSouthWest();
        var ne = bounds.getNorthEast();
        var lngSpan = Math.abs(sw.lng - ne.lng);
        var latSpan = Math.abs(ne.lat - sw.lat);

        for (var i = 0; i < data.length; i ++) {
            var point = new BMap.Point(data[i].x,data[i].y);
            addMarker(point,data[i]);
        }
    }
    function initialize() {
        mp = new BMap.Map('map');
        mp.centerAndZoom(new BMap.Point(116.3, 39.9), 11);
        mp.setCurrentCity('北京市');
        mp.enableScrollWheelZoom(true);

        $.getJSON('/services/getServices',{id:2},function(data){
            services = data;
            var tpl =  '<option value="0">请选择您试驾的6s店</option>';
            $.each(data,function(index,val){
                tpl+="<option value='"+val.id+"'>"+val.name+"</option>";
            });
            $('#s6').empty();
            $('#s6').append(tpl);
            loadMap('北京市',data);
        });
    }
    function loadScript() {
        var script = document.createElement("script");
        script.src = "http://api.map.baidu.com/api?v=2.0&ak=r2fnSnriC3j8qrCrmnEVswzdsGGaCswn&callback=initialize";//此为v2.0版本的引用方式
        //script.src =  "http://api.map.baidu.com/api?v=1.4&ak=您的密钥&callback=initialize"; //此为v1.4版本及以前版本的引用方式
        document.body.appendChild(script);
    }

    window.onload = loadScript;

</script>
</body>
</html>