<include file="Tpl/publicHeader" />
<!-- content start -->
<div class="admin-content">
  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">提现管理  </strong> / <small>设置提现费用</small></div>
  </div>
  <form action="{:U('Withdrawals/feeSet')}" method="post">
  <table id="add">
    <tr>
      <td>　提现费用：</td>
      <td><input type="text" name="fee" value='{$data[fee]}'>%</td>
    </tr>
   <!--  <tr>
      <td>是否启用：</td>
      <td><input type="radio" name="is_start" />是<input type="radio" name="is_start" />否</td>
    </tr> -->
    <tr>
      <input type="hidden" name="id" value='{$data[id]}'>
      <td colspan="2"><input type="submit" value="确定添加"></td>
    </tr>
  </table>
  </form>
</div>
<include file="Tpl/publicFooter" />