<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>抽奖</title>
  <link rel="stylesheet" href="__PUBLIC__/pc/css/style.css"></head>
<body>
  <div class="back">
    <div class="w1200">
      <div class="jiantou"></div>
      <div class="backopactiy"></div>
      <div class="title">
        <div class="name">会议名称占位</div>
        <div class="huiname">
          <div style="font-size: 42px" class="">微信墙</div>
          <div style="font-size: 30px">扫描右侧二维码参与互动</div>
        </div>
        <div class="ewm"></div>
      </div>
      <div class="box">
        <div class="lComm">
          <!--头像-->
          <img width="312" height="312" src="" alt="">
          <div class="companyName">公司名字</div>
          <a href="/Wallpc/wishes"  id="see" class="btnz dn">查看中奖名单</a>
          <button  id="btns"  class="btnz">开始</button>
        </div>
        <div class="startImg"></div>
        <div class="rComm dn">
          <div class="rCTitle">
            本轮已抽出
            <span style="color: #f3e721">10</span>
            人
          </div>
          <div id="Rbox" class="RBox">
            <ul id="list" class="list">

              <li>
                <img width="50" height="50" src="__PUBLIC__/pc/images/album-old.png" alt="">
                <span>林俊杰1</span>
              </li>
 
            
              
            </ul>
            <ul id="list2" class="list">
              
            </ul>
          </div>
        </div>
        <div class="cb"></div>
      </div>
    </div>
    <div class="foot">
      <div class="opac"></div>
      <div class="w1200 z10">
        <a class="activity a a1" href="/Wallpc/interaction">互动大屏</a>
        <a class="a a2" href="/Wallpc/wishes">抽奖</a>
      </div>
    </div>
  </div>
  <script src="__PUBLIC__/pc/js/jquery-1.7.1.min.js"></script>
  <script src="__PUBLIC__/pc/js/comm.js"></script>
</body>
</html>