<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>抽奖</title>
    <link rel="stylesheet" href="__PUBLIC__/pc/css/style.css">
</head>
<style>
    .list li{
        width: 6.6167vw;
        float: left;
        height: 8.7528vw;
    }
    .list li img{
        display: block;
        float: none;
        margin: auto;
    }
    .list li span{
        display: block;
        font-size: 1.2504vw;
        text-align: center;
        width: 6.6167vw;
        margin-left: 0;
        padding-left: 0;
        overflow: hidden style="width:;"
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 4.689vw;
    }
</style>
<body>
<div class="back">
    <div class="w1200">
        <div class="jiantou"></div>
        <a href="/Wallpc/interaction" class="again">重抽</a>
        <div class="backopactiy"></div>
<div class="title">
    <div class="name">中制家车“千城万店”<br>项目签约仪式</div>
    <div class="huiname">
        <div style="font-size: 2.1vw" class="">微信墙</div>
        <div style="font-size: 1.56vw">扫描右侧二维码参与互动</div>
    </div>
    <div class="ewm"></div>
</div>
        <div class="box">
            <div class="lComm">
                <!--头像-->
                <img style="width:16.2552vw;height: 16.2552vw;" src="" alt="">
                <div class="companyName">公司名字</div>
            </div>
            <div class="rComm">
                <div class="RBox">
                    <ul class="list">
                        <li><img style="width:2.605vw; height: 2.605vw" src="images/album-old.png" alt=""><span title="林俊杰林俊杰林俊杰林俊杰林俊杰林俊杰">林俊杰林俊杰林俊杰林俊杰</span></li>
                        <li><img style="width:2.605vw; height: 2.605vw" src="__PUBLIC__/pc/images/album-old.png" alt=""><span>林俊杰</span></li>
                        <li><img style="width:2.605vw; height: 2.605vw" src="__PUBLIC__/pc/images/album-old.png" alt=""><span>林俊杰</span></li>
                        <li><img style="width:2.605vw; height: 2.605vw" src="__PUBLIC__/pc/images/album-old.png" alt=""><span>林俊杰</span></li>
                        <li><img style="width:2.605vw; height: 2.605vw" src="__PUBLIC__/pc/images/album-old.png" alt=""><span>林俊杰</span></li>
                        <li><img style="width:2.605vw; height: 2.605vw" src="__PUBLIC__/pc/images/album-old.png" alt=""><span>林俊杰</span></li>
                        <li><img style="width:2.605vw; height: 2.605vw" src="__PUBLIC__/pc/images/album-old.png" alt=""><span>林俊杰</span></li>
                        <li><img style="width:2.605vw; height: 2.605vw" src="__PUBLIC__/pc/images/album-old.png" alt=""><span>林俊杰</span></li>
                        <li><img style="width:2.605vw; height: 2.605vw" src="__PUBLIC__/pc/images/album-old.png" alt=""><span>林俊杰</span></li>
                        <li><img style="width:2.605vw; height: 2.605vw" src="__PUBLIC__/pc/images/album-old.png" alt=""><span>林俊杰</span></li>
                    </ul>
                </div>
            </div>
            <div class="cb"></div>
        </div>
    </div>
    <div class="foot">
        <div class="opac"></div>
        <div class="w1200 z10">
            <a class="activity a a1" href="/Wallpc/index">互动大屏</a>
            <a class="a a2" href="/Wallpc/interaction">抽奖</a>
        </div>
    </div>
</div>
<script src="__PUBLIC__/pc/js/jquery-1.7.1.min.js"></script>
<script src="__PUBLIC__/pc/js/comm.js"></script>
</body>
</html>